/*html*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*headings*/
h1 {
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-top: 40px;
  text-decoration: underline;
}

/*form*/
#newFormEntry {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 12px;
  margin-top: 40px;
}

input [type=text] {
  box-sizing: border-box;
}

input {
border: 2px solid black;
border-radius: 8px;
}

/*submit button*/
#submitButton {
  font-family: 'Righteous', cursive;
  margin: 10px;
  font-size: 12pt;
  padding: 5px;
  border-radius: 5px;
}

#submitButton:hover {
  color: white;
  cursor: pointer;
  background-color: black;
}